name: system_shortcuts
description: ANDROID & IOS flutter plugin to use system shortcuts like pressing home, back, volume Up, volume Down keys and toggle wifi, and bluetooth as well. 
version: 1.1.1
homepage: https://github.com/aman-malhotra-1999/SystemShortcutsFlutter

environment:
  sdk: ^3.9.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.example.system_shortcuts
        pluginClass: SystemShortcutsPlugin
      ios:
        pluginClass: SystemShortcutsPlugin

